body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
}
/* .col1
{
    background-color: aqua;
}

.col2
{
    background-color:bisque;
}

.col3
{
    background-color:orange;
}

.col123
{
    background-color:lightgreen;
} */